<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projekt_kocky">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dice"
        android:label="KOSTKY"
        android:roundIcon="@mipmap/ic_dice"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_shaked"></activity>
        <activity android:name=".MainActivity_multiplayer" />
        <activity android:name=".MainActivity_multiplayer_menu" />
        <activity android:name=".MainActivity_rules" />
        <activity android:name=".MainActivity_singleplayer" />
        <activity android:name=".MainActivity_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>